<div class="modal-backdrop" (click)="onCancel()"></div>

<div class="modal-container">
  <div class="modal form-modal">
    <div class="modal-header">
      <h3 class="modal-title">
        {{ position ? 'Edit Position' : 'New Position' }}
      </h3>

      <button type="button" class="modal-close" (click)="onCancel()">
        <svg lucide="x"></svg>
      </button>
    </div>

    <form [formGroup]="positionForm" (ngSubmit)="onSave()" class="modal-body">
      <div class="form-group" [class.form-group--error]="isInvalid('name')">
        <label for="name">Position Name</label>
        <input id="name" type="text" formControlName="name" placeholder="e.g. Engineering Operations" />

        <div class="form-error" *ngIf="isInvalid('name') && !positionForm.get('name')?.hasError('conflict')">
          Name is required
        </div>
        <div class="form-error" *ngIf="positionForm.get('name')?.hasError('conflict')">
          This position name is already in use
        </div>
      </div>

      <div class="form-group" [class.form-group--error]="isInvalid('departmentId')">
        <label for="departmentId">Department</label>
        <select id="departmentId" formControlName="departmentId">
          <option value="" disabled>
            {{ departmentQuery.loading() ? 'Loading departments...' : 'Select department' }}
          </option>
          @for (department of departmentQuery.departments(); track department.id) {
          <option [value]="department.id">{{ department.name }}</option>
          }
        </select>

        <div class="form-error" *ngIf="
            isInvalid('departmentId') && !positionForm.get('departmentId')?.hasError('conflict')
          ">
          Department is required
        </div>
      </div>

      <div class="form-group form-group--inline">
        <label for="isActive">Availability Status</label>
        <div class="checkbox-wrapper">
          <input type="checkbox" id="isActive" formControlName="isActive" />
          <label for="isActive" class="text-sm font-bold ml-2">Active</label>
        </div>
      </div>

      <div class="form-banner--error" *ngIf="errorMessage()">
        {{ errorMessage() }}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn" (click)="onCancel()">Cancel</button>

        <button type="submit" class="btn btn-primary" [disabled]="loading()">
          <span *ngIf="loading()">Processing...</span>
          <span *ngIf="!loading()">
            {{ position ? 'Update Position' : 'Create Position' }}
          </span>
        </button>
      </div>
    </form>
  </div>
</div>