@import './styles/abstract/variables';

/* 1. Reset & Global Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 800;
  font-display: swap;
}

body {
  background-color: $white;
  color: $primary;
  font-family: $font-sans;
  -webkit-font-smoothing: antialiased;
}

@import './styles/pages/page';
@import './styles/components/modal';
@import './styles/components/confirm-modal';
@import './styles/components/form-modal';
/* 2. Import Modular Components */
@import './styles/components/table';
@import './styles/components/buttons';
@import './styles/components/forms';
@import './styles/components/layout';

/* 3. Global UI Utils */
.space-y-8 > * + * {
  margin-top: 2rem;
}

/* Lucide Icon Standard */
.lucide {
  stroke-width: 1.5px;
  display: inline-block;
  vertical-align: middle;
}
