/* 1. Tokens & Utilities (The Foundation) */
@use './styles/abstract/variables' as *; // Menggantikan import colors, typography, spacing, transition
@use './styles/abstract/utilities' as *;
@use './styles/abstract/flex' as *;
@use './styles/abstract/grid' as *;

@use './styles/pages/page' as *;
@use './styles/components/table' as *;
@use './styles/components/buttons' as *;
@use './styles/components/forms' as *;
@use './styles/components/modal' as *;
@use './styles/components/confirm-modal' as *;
@use './styles/components/form-modal' as *;

/* 2. Reset & Global Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 800;
  font-display: swap;
}

body {
  background-color: $white;
  color: $primary;
  font-family: $font-sans;
  -webkit-font-smoothing: antialiased;
}

/* 3. Global UI Utils */
.space-y-8 > * + * {
  margin-top: 2rem;
}

.lucide {
  stroke-width: 1.5px;
  display: inline-block;
  vertical-align: middle;
}

