@import 'tailwindcss';

@theme {
  --color-primary: #0f172a;
  --color-primary-light: #1e293b;
  --color-secondary: #e84e1b;
  
  --color-surface-50: #f8fafc;
  --color-surface-100: #f1f5f9;
  --color-surface-200: #e2e8f0;
  --color-surface-300: #cbd5e1;
  --color-surface-900: #0f172a;

  --color-text-main: #0f172a;
  --color-text-muted: #64748b;

  --color-subtle: #e2e8f0;

  --font-sans: 'Plus Jakarta Sans', ui-sans-serif, system-ui;
}

@layer base {
  body {
    @apply bg-white text-text-main antialiased;
    font-feature-settings: 'cv02', 'cv03', 'cv04'; /* Plus Jakarta Sans optimizations */
  }
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 800;
  font-display: swap;
  font-style: normal;
}
